@import '_variables';
@import '_mixins';
@import 'grayscale';

.navbar-custom {
  .navbar-toggle {
    color: $nav-text;
  }
  a {
    color: $nav-text;
  }
}

.brand-heading {
  color: $headline;
}

.download-section {
  h2 {
    color: $nav-text;
  }
}

#contact h2 {
  color: $nav-text;
}

#about {
  h2 {
    color: $nav-text;
  }
}

.intro {
  background: url(../images/intro-bg.png) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.download-section {
  background: url(../images/downloads-bg.jpg) no-repeat center center scroll;
}
